{% extends 'layout.html' %}
{% block body %}
   <link rel="stylesheet" href="{{ url_for('static',filename='Blog1.css') }}" media="screen">

<section class="u-align-center u-clearfix u-white u-section-1" id="sec-2a13">
      <div class="u-clearfix u-sheet u-sheet-1"><!--post_details--><!--post_details_options_json--><!--{"source":""}--><!--/post_details_options_json--><!--blog_post-->
        <div class="u-container-style u-expanded-width-xs u-post-details u-post-details-1">
          <div class="u-container-layout u-container-layout-1"><!--blog_post_metadata-->
            <div class="u-blog-control u-metadata u-text-grey-30 u-metadata-1"><!--blog_post_metadata_date-->
              <span class="u-meta-date u-meta-icon"><!--blog_post_metadata_date_content-->Tue Jun 10 2021<!--/blog_post_metadata_date_content--></span><!--/blog_post_metadata_date--><!--blog_post_metadata_category-->
              <span class="u-meta-category u-meta-icon"><!--blog_post_metadata_category_content-->Lifestyle<!--/blog_post_metadata_category_content--></span><!--/blog_post_metadata_category--><!--blog_post_metadata_comments-->
              
              
            </div><!--/blog_post_metadata--><!--blog_post_header-->
            <h2 class="u-align-center u-blog-control u-text u-text-1">
              <a class="u-post-header-link" href=""><!--blog_post_header_content-->Seek Discomfort<!--/blog_post_header_content--></a>
            </h2><!--/blog_post_header--><!--blog_post_image-->
            <img alt="" class="u-align-left-xs u-blog-control u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-image u-image-round u-radius-17 u-image-1" src="{{ url_for('static',filename='images/WhatsAppImage2021-06-07at11.19.57PM.jpeg') }}"><!--/blog_post_image--><!--blog_post_content-->
            <div class="u-align-center-xs u-align-justify-lg u-align-justify-md u-align-justify-sm u-align-justify-xl u-blog-control u-post-content u-text u-text-2" style="text-align: justify;"><!--blog_post_content_content-->

            <!--   <h3 style="font-weight: bolder;text-align:left;word-spacing: 15px;">Seek Discomfort</h3><br> -->
                <span class="" style="font-size: 15px;text-align:justify">
                    The routine is your enemy. When your life takes on autopilot mode, you're not the driver but a passenger, just sitting and watching things happen in your life. You don't do anything about it, maybe because you're too lazy or you don't have the energy to change the things going on in your life.<br><br>
                    
To me, seeking discomfort means wanting more from life. We can bend time in our own way by trying out new things, experimenting innovative ideas and learning cool stuff. If we could try to be just 1% better than yesterday, then by the end of year we would be 365% better then our previous self.  We highly overestimate what we could achieve in one day and underestimate what we could do in one year.
<br><br>


We've been so busy watching out for what's ahead of us that we don't take time to enjoy where we are. If you never tasted a bad apple, you would not appreciate the good apple. You have to experience life to understand it. Find the beauty in the unseen and forgotten. Sometimes we forget the little things in our life.
<br><br>
Get out of your comfort zone and seize each day. Sense the 100 years on the planet as 1000.
<br><br>

<b class="float-right" style="font-weight: bolder;font-size: 15px;"> -Smit Shah (Ideaboat)</b>


              <!--/blog_post_content_content--></div><!--/blog_post_content-->
          </div>
        </div><!--/blog_post--><!--/post_details-->
      </div>
    </section>
    
    

{% endblock %}