{% extends 'layout.html' %}
{% block body %}
   <link rel="stylesheet" href="{{ url_for('static',filename='Blog1.css') }}" media="screen">

<section class="u-align-center u-clearfix u-white u-section-1" id="sec-2a13">
      <div class="u-clearfix u-sheet u-sheet-1"><!--post_details--><!--post_details_options_json--><!--{"source":""}--><!--/post_details_options_json--><!--blog_post-->
        <div class="u-container-style u-expanded-width-xs u-post-details u-post-details-1">
          <div class="u-container-layout u-container-layout-1"><!--blog_post_metadata-->
            <div class="u-blog-control u-metadata u-text-grey-30 u-metadata-1"><!--blog_post_metadata_date-->
              <span class="u-meta-date u-meta-icon"><!--blog_post_metadata_date_content-->Tue Jun 08 2021<!--/blog_post_metadata_date_content--></span><!--/blog_post_metadata_date--><!--blog_post_metadata_category-->
              <span class="u-meta-category u-meta-icon"><!--blog_post_metadata_category_content-->Business<!--/blog_post_metadata_category_content--></span><!--/blog_post_metadata_category--><!--blog_post_metadata_comments-->
              
              
            </div><!--/blog_post_metadata--><!--blog_post_header-->
            <h2 class="u-align-center u-blog-control u-text u-text-1 mt-5">
              <a class="u-post-header-link" href=""><!--blog_post_header_content-->7 Secrets of an Entrepreneur Mindset<!--/blog_post_header_content--></a>
            </h2><!--/blog_post_header--><!--blog_post_image-->
            <img alt="" class="u-align-left-xs u-blog-control u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-image u-image-round u-radius-17 u-image-1" src="{{ url_for('static',filename='images/WhatsAppImage2021-06-07at11.19.58PM.jpeg') }}"><!--/blog_post_image--><!--blog_post_content-->
            <div class="u-align-center-xs u-align-justify-lg u-align-justify-md u-align-justify-sm u-align-justify-xl u-blog-control u-post-content u-text u-text-2" style="text-align: justify;"><!--blog_post_content_content-->

              <!-- <h3 style="font-weight: bolder;text-align:left;word-spacing: 15px;">7 Secrets of An Entrepreneur Mindset</h3><br> -->
                <span class="" style="font-size: 15px;text-align:justify">Entrepreneur Mindset a set of skills used by people to identify the opportunities and generate economic benefits out of it, irrespective of various setbacks and learn a variety of things from it.<br><br>
Entrepreneur Mindset is a group of -<br><br>
<b>Beliefs</b> - To become a successful entrepreneur, one needs to have a strong belief in their own abilities, their business, the quality of the products they produce. A successful entrepreneur is aware of what actions he will take and on basis of that what will make an impact.<br><br>

<b>Focus</b> - If there is one key trait of a successful entrepreneurial mindset, it is the ability to direct one's focus, to put time, energy, and attention toward what will help build the business and mitigate whatever will hold it back. Successful entrepreneurs focus on three things. First, they look for opportunities where others see only obstacles. Second, successful entrepreneurs focus with laser-like precision on the goal they wish to accomplish, not letting the negative advice of others deter them. Third, they manage risk and overcome fear by controlling their focus. Almost every study of the entrepreneurial mindset declares that the ability to manage risk is a key to success.<br><br>
<b>Secrets of an Entrepreneur Mindset-</b><br><br>
  <b>1. Personal Responsibility</b>

                This trait is it. I mean this removes all attempts to blame anyone for what takes place in your life. SucceGrowthssful entrepreneurs never allude to anything that anyone could have done to them. In fact, all the trials that they have, they looked at them as a blessing to learn from. Never give up control of their lives.<br><br>
<b>2. Provide Value & Service</b><br><br>
Successful Entrepreneurs know that value must be given. And by providing the value they know that value is to be returned.
They practice the Law of Reciprocity. They know for sure that what they give out they shall receive. Successful entrepreneurs do not expect something for anything. They are constantly working to make themselves valuable, which of course attracts the personal associations that lead to greater success.<br><br>

<b>3. Deal with Facts</b><br><br>
Most people make their decisions about their lives and careers from emotion and assumptions. Successful entrepreneurs base their decisions on fact-based thinking.<br><br>

<b>4. Result Oriented</b><br><br>
Have you known anyone that is absolutely driven to succeed? No matter what the obstacle they keep going. And in most cases, it is because they have extraordinary clarity on the outcome. They took the time to clearly define what it is that they wanted to do. They stopped and thought about their life, and what it was that they wanted to accomplish and this gave them the drive to see the task all the way to its outcome<br><br>

<b>5. Gratitude</b><br><br>
You must look at all you have and realize how great what you have is as compared to the situation of many others.
When you have this attitude, you stop suffering and complaining about the small stuff. On each receipt you pay out, write thank you. That's not only to thank the person, event, vendor, or customer for what's provided you but also to give a private thanks acknowledging that you have the abundance necessary to pay for the service, product, or event.<br><br>

<b>6. Challenging Mind</b><br><br>
Successful entrepreneurs have very high working standards they keep challenging themselves to be the best in the market with continuously changing trend and prove to be the stand out performer in the market along with facing various setbacks.<br><br>

<b>7. Vision</b><br><br>
Behind every entrepreneurial activity, there is a vision to generate some big returns, benefits to the economy and society, and how to turn small stuff into big outcome generators.<br><br>

<b class="float-right" style="font-weight: bolder;font-size: 15px;"> -Kalash Shah (Ideaboat)</b>


              <!--/blog_post_content_content--></div><!--/blog_post_content-->
          </div>
        </div><!--/blog_post--><!--/post_details-->
      </div>
    </section>
    
    
{% endblock %}