{% extends 'layout.html' %}
{% block body %}
<link rel="stylesheet" href="{{ url_for('static',filename='Blog1.css') }}" media="screen">

<section class="u-align-center u-clearfix u-white u-section-1" id="sec-2a13">
      <div class="u-clearfix u-sheet u-sheet-1"><!--post_details--><!--post_details_options_json--><!--{"source":""}--><!--/post_details_options_json--><!--blog_post-->
        <div class="u-container-style u-expanded-width-xs u-post-details u-post-details-1">
          <div class="u-container-layout u-container-layout-1"><!--blog_post_metadata-->
            <div class="u-blog-control u-metadata u-text-grey-30 u-metadata-1"><!--blog_post_metadata_date-->
              <span class="u-meta-date u-meta-icon"><!--blog_post_metadata_date_content-->Tue Jun 09 2021<!--/blog_post_metadata_date_content--></span><!--/blog_post_metadata_date--><!--blog_post_metadata_category-->
              <span class="u-meta-category u-meta-icon"><!--blog_post_metadata_category_content-->Lifestyle<!--/blog_post_metadata_category_content--></span><!--/blog_post_metadata_category--><!--blog_post_metadata_comments-->
              
              
            </div><!--/blog_post_metadata--><!--blog_post_header-->
            <h2 class="u-align-center u-blog-control u-text u-text-1 mt-5">
              <a class="u-post-header-link" href=""><!--blog_post_header_content-->Achieving Milestones of life<!--/blog_post_header_content--></a>
            </h2><!--/blog_post_header--><!--blog_post_image-->
            <img alt="" class="u-align-left-xs u-blog-control u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-image u-image-round u-radius-17 u-image-1" src="{{ url_for('static',filename='images/blog3.jpg') }}"><!--/blog_post_image--><!--blog_post_content-->
            <div class="u-align-center-xs u-align-justify-lg u-align-justify-md u-align-justify-sm u-align-justify-xl u-blog-control u-post-content u-text u-text-2" style="text-align: justify;"><!--blog_post_content_content-->

             <!--  <h3 style="font-weight: bolder;text-align:left;word-spacing: 15px;">Achieving Milestones of life</h3><br> -->
                <span class="" style="font-size: 15px;text-align:justify">Seeking discomfort can mean a million different things. Pushing yourself out of your zone, being yourself without fear of judgment, spreading love without bounds. Sometimes the most amazing opportunities or lessons are outside our comfort zone. If we just step outside our safety bubble, or even our daily routine, we can find so much joy and even life changing experiences. To allow the little fear we have to be a catalyst that propels us to experience the extraordinary that exists outside our comfort zone
<br><br>
On the day to day, it acts as a reminder to reconsider everyday decisions and actions, and not take anything for granted. It helps us to stay away from routines where we feel that something becomes mundane and loses the meaning and excitement it once brought us.
<br><br>

Don’t be in such a rush to figure things out, embrace the unknown and let your life surprise you.⁠ ⁠ The worst thing that we can do is let the fear of what could happen make nothing happen. Those fears create walls and those walls make us feel as if we’re trapped in a box.⁠<br><br>

The fear of failing again has always feared us. We’ve always felt pessimistic and doubted our abilities. But there has always been a push that kept us going. The push to seek discomfort.
<br><br>
No matter how old you are you can’t deny the fact that you have spent the majority of your life staying inside your comfort zone. The longer you stay in your comfort zone the more used to you get. However, a simple YES has the power to take you out of your comfort zone, make you experience something you have never done before..<br><br>

Why not be bold and push yourself out of your boundaries? What’s the worst that can happen? You get a no, but what if you get a YES. It can change your life!
<br><br>

Some easy challenges for you to say a YES to:
<ul>
    <li>Make a quick decision without overthinking it</li>
    <li>Volunteer</li>
    <li>Cook a new recipe</li>
    <li>Take a yoga class</li>
    <li>Take a new route to work</li>
    <li>Eat a different type of food than normal</li>
    <li>Go for a long run</li>
</ul>
<br><br>

“The beauty is in the attempt” - Yes theory
<br><br>
<b class="float-right" style="font-weight: bolder;font-size: 15px;"> -Manav Jain (Ideaboat)</b>


              <!--/blog_post_content_content--></div><!--/blog_post_content-->
          </div>
        </div><!--/blog_post--><!--/post_details-->
      </div>
    </section>
    
    

{% endblock %}